#apc {
    word-spacing: 25px;
}
#top {
    background-color: black;
    color: aliceblue;
}
#c{
    color: aliceblue;

}
#main{
    background-color:lightgray;
    position: relative;
    top:30px;
}
#text {
    background-color: lightgray;
    position: relative;
    top:30px;
    padding:12px 0px 12px 5px;
    height:460px;
}
input{
    height: 100px;
    width:80%;
}
#submit {
    height:10%;
    width: 10%;
}